.reviews {
	background-color: #ffffff;

	&__inner {
		max-width: 360px;
		margin: 0 auto;
		padding: 30px 15px;
	}

	&__header {
		display: flex;
		margin-bottom: 25px;

		&-wrap {
			align-self: center;
		}
	}

	&__rating {
		margin-right: 16px;

		@include text(46px, 1.21);
		font-weight: 700;
	}

	&__stars {
		margin-bottom: 6px;
	}

	&__count {
		@include text(14px, 1.21);
	}

	&__buttons {
		display: flex;
		margin-bottom: 40px;
	}

	&__btn + &__btn {
		margin-left: 8px;
	}

	&__tabs {
		&-nav {
			display: flex;
			margin-bottom: 30px;
			padding: 10px 0;
			border-bottom: solid 1px #c9c9c9;

			&-item {
				position: relative;
				@include text(18px, 1.16);
				text-decoration: none;

				& + * {
					margin-left: 56px;
				}

				&.active {
					font-weight: 700;

					&::before {
						content: "";
						position: absolute;
						bottom: -12px;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: #4c9935;
					}
				}
			}
		}

		&-body {
			&-item {
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: center;
		margin-top: 24px;
	}

	&__prev,
	&__next {
		width: 14px;
		height: 14px;
		border: none;
		background-color: transparent;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.667 12.6L7 7 1.667 1.4' stroke='%23000' stroke-width='2'/%3e%3c/svg%3e");

		align-self: center;

		&:hover,
		&:focus {
			background-color: transparent;
			border: none;
		}
	}

	&__prev {
		transform: scale(-1, 1);
	}

	&__custom-dots {
		display: flex;
	}

	&__dot {
		padding: 0 8px;

		@include text(16px, 1.25, #909090);
		border: none;
		background-color: transparent;

		&:hover,
		&:focus {
			background-color: transparent;
			border: none;
		}

		&.active {
			color: #4c9935;
			font-weight: 700;
		}
	}

	.slick-dots {
		@include list-reset;
		display: flex;
		justify-content: center;
		margin-top: 32px;

		li {
			button {
				padding: 0 8px;

				@include text(16px, 1.25, #909090);
				border: none;
				background-color: transparent;
			}

			&.slick-active {
				button {
					color: #4c9935;
					font-weight: 700;
				}
			}
		}
	}
}
