<footer id="footer-new" class="wrap">
<div class="grid">
<div id="footer-about" class="one-third unit footer-about">
<div id="comp_8d2a89cb0332a0957cdc7c960ee6d5fb">
<div id="form-mini">
<div id="form-mini-result-new" class="form-wrapper" data-sid="RICHE_FAMILY" data-id="12">
<form name="RICHE_FAMILY" action="/" method="POST" enctype="multipart/form-data"><input type="hidden" name="bxajaxid" id="bxajaxid_8d2a89cb0332a0957cdc7c960ee6d5fb_8BACKi" value="8d2a89cb0332a0957cdc7c960ee6d5fb"><input type="hidden" name="AJAX_CALL" value="Y"><script type="text/javascript">function _processform_8BACKi(){	if (BX('bxajaxid_8d2a89cb0332a0957cdc7c960ee6d5fb_8BACKi')){var obForm = BX('bxajaxid_8d2a89cb0332a0957cdc7c960ee6d5fb_8BACKi').form;BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_8d2a89cb0332a0957cdc7c960ee6d5fb', true)});}BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);}if (BX('bxajaxid_8d2a89cb0332a0957cdc7c960ee6d5fb_8BACKi'))	_processform_8BACKi();else	BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
</script><input type="hidden" name="sessid" id="sessid" value="1f167afbba086d9aca809b64d888f993"><input type="hidden" name="WEB_FORM_ID" value="12"><div class="form-description description">Узнавай первой о новинках и специальных акциях! </div>
<div class="fields">
<div class="field required                            email                            email">
<input type="email" placeholder="Ваш e-mail" name="form_email_30" value="" size="16">
</div>
<input type="hidden" name="form_hidden_39" value="">
<div class="actions">
<input class="button wide" type="submit" name="web_form_submit" value="Хочу">
</div>
</div>
<div class="field agreement checkbox">
<input type="checkbox" checked="checked" name="DATA_PROCESS" id="popup-form-default-data-process" readonly="">
<label for="popup-form-default-new-data-process" class="description">Согласие с <a href="/about/privacy-policy/" target="_blank">обработкой персональныхданных</a>
.
</label>
</div>
</form>
</div>
</div></div> <a href="/about/privacy-policy/" class="footer__privacy-policy">Политика конфедециальности</a>
</div>
<div id="footer-menu" class="one-third unit">
<nav id="footer-menu">
<ul class="menu">
<li class="root item">
<a href="/about/payment">Оплата</a>
</li>
<li class="root item">
<a href="https://account.admitad.com/ru/webmaster/offers/22035-riche-ru/">CPA программа</a>
</li>
<li class="root item">
<a href="/delivery">Доставка</a>
</li>
<li class="root item">
<a href="/help/">Помощь</a>
</li>
<li class="root item">
<a href="/reviews/">Отзывы</a>
</li>
<li class="root item">
<a href="/promo/">О нас</a>
</li>
<li class="root item">
<a href="/hh/">Вакансии</a>
</li>
<li class="root item">
<a href="/about/shop/">Где купить</a>
</li>
<li class="root item">
<a href="http://shop.riche.me/">Стать партнёром</a>
</li>
</ul>

</nav>
</div>
<div id="footer-contacts" class="one-third unit footer-contacts">
<p><a href="tel:88003020387">8 800 302-03-87</a></p>
<div class="footer__contacts-email-wrapper">
<a href="mailto:info@riche.me" class="footer__contacts-email">info@riche.me</a>
</div>
<p class="small">Время работы с 9<sup>00</sup>&nbsp;до 21<sup>00</sup><br> в&nbsp;выходные с 11<sup>00</sup> до 20<sup>00</sup>
</p> <div class="links center-on-mobiles">
<a href="https://www.youtube.com/channel/UCvfaWiXugst22LddZMeiyDA" rel="noopener" title="Наш канал в YouTube">
<img class=" lazyloaded" data-src="/res/footer/youtube.svg" src="/res/footer/youtube.svg">
</a>
<a id="ig" href="https://www.instagram.com/riche.cosmetics/" rel="noopener" title="Наш канал в Instagram">
<img class=" lazyloaded" data-src="/res/footer/instagram.svg" src="/res/footer/instagram.svg">
</a>
<a href="https://www.tiktok.com/@riche.me?source=h5_t" rel="noopener" title="Наш канал на Тиктоке">
<img class="footer__link-tiktok lazyloaded" data-src="/res/footer/tiktok.svg" src="/res/footer/tiktok.svg">
</a> </div>
</div>
</div>
<div class="grid" id="footer-mobile-apps">
<div class="whole unit">
<ul>
<li><a href="https://apps.apple.com/ru/app/riche-cosmetics/id1466080004"><img src="/res/appstore.svg" alt=""></a></li>
<li><a href="https://play.google.com/store/apps/details?id=ru.napoleonit.riche&amp;hl=ru"><img src="/res/googleplay.svg" alt=""></a></li>
</ul>
</div>
</div>
<div class="grid center-on-mobiles" id="footer-last-panel">
<div class="half unit">
<a class="center-on-mobiles homepage" href="/" id="footer-site-name">

<img class=" lazyloaded" src="/local/templates/riche/logotype.svg" alt="RICHE COSMETICS">
</a>
</div>
<div class="half unit footer__inn-kpp">
<span class="footer__inn">ИНН 2130160270</span>
<span>КПП 213001001</span>
</div>
<div class="half unit copy">
<p id="footer-outro">
<span>© RICHE 2015 - 2020 гг
<span class="span icon"></span>
<span class="uppercase">With all our love</span>
</span>
</p>
</div>
</div>
</footer>
