<div id="header-floating-spacer" style="height: 71px;"></div>
<header id="header-floating" class="wrap fixed shadow">
	<aside id="header-data-info" class="align-center">
		<p style="display: block;">Скидка 50% на все</p>
	</aside>
	<div id="header-floating-container">
		<div class="nav-toggle__wrapper">
			<div class="nav-toggle" id="nav_toggle"> <img class="nav-toggle__item-img" src="https://riche.me/res/icons/burgerMenu2.svg"> </div>
			<div class="left-nav__wrapper" style="position: fixed;">
				<div class="left-nav__header">
					<div class="close-area">
						<div class="left-nav__close-icon-wrapper" id="close-text">
							<div class="close-left-menu"></div>
						</div> <span class="left-nav__title" id="close-text">Закрыть</span> </div>
				</div>
				<aside id="header-search-panel">
					<div class="wrapper content">
						<input id="header-search-panel-input" type="search" placeholder="поиск"> </div>
				</aside>
				<aside id="header-search-results">
					<div class="content"></div>
				</aside>
				<div class="left-nav__main">
					<nav class="left-nav__nav">
						<div class="left-nav__section">
							<div>
								<div class="left-nav__cycle-wrapper">
									<a href="/catalog/#catalog-section-2" class="left-nav__list-link-wrapper" data-link="lico"></a>
									<div class="left-nav__list">
										<p>Лицо</p>
										<script type="text/javascript" style="display:none">
										//<![CDATA[
										//window.__mirage2 = {
										//petok: //"21055afbbc5c63824d1c8fe51e01f96877ae4af5-1605169026-3600"
										//};
										//]]>
										</script>
										<script type="text/javascript" src="https://ajax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js"></script> <img class="nav-img" data-cfsrc="/upload/leftMenuINavIcon/face-2.png" src="https://riche.me/upload/leftMenuINavIcon/face-2.png"> </div>
								</div>
								<div class="left-nav__cycle-wrapper">
									<a href="/catalog/#catalog-section-1" class="left-nav__list-link-wrapper" data-link="telo"></a>
									<div class="left-nav__list">
										<p>Тело</p> <img class="nav-img" data-cfsrc="/upload/leftMenuINavIcon/body-2.png" src="https://riche.me/upload/leftMenuINavIcon/body-2.png"> </div>
								</div>
								<div class="left-nav__cycle-wrapper">
									<a href="/catalog/#catalog-section-3" class="left-nav__list-link-wrapper" data-link="volosy"></a>
									<div class="left-nav__list">
										<p>Волосы</p> <img class="nav-img" data-cfsrc="/upload/leftMenuINavIcon/hair-2.png" src="https://riche.me/upload/leftMenuINavIcon/hair-2.png"> </div>
								</div>
							</div>
							<div class="left-nav__framing">
								<div class="left-nav__whatsapp-wrapper" onclick="ym(41934184, 'reachGoal', 'clickonwhatsappmenu'); return true;">
									<a class="left-nav__whatsapp-link" href="https://wa.me/79176701785?text=Вопрос менеджеру:" data-identifier="frontWhatsappClick" target="_blank"></a>
									<div class="left-nav__whatsapp-inner">
										<div class="left-nav__whatsapp-title">Получи консультацию в WhatsApp</div>
									</div>
								</div> <a href="/sertificate/podarochnyy-sertifikat-riche/" class="selected left-nav__list_payment_feedback">Подарочный сертификат</a> <a href="/reviews/" class="selected left-nav__list_payment_feedback">Отзывы</a> <a href="/about/delivery/" class="selected left-nav__list_payment_feedback">Доставка</a> <a href="/#front-page-video" class="selected left-nav__list_payment_feedback">О нас</a> <a href="http://shop.riche.me/" class="selected left-nav__list_payment_feedback">Стать партнером</a> </div>
						</div>
					</nav>
				</div>
				<div class="left-nav__footer">
					<div class="left-nav__contacts">
						<div class="left-nav__call_us">
							<p class="left-nav__phone"> <a href="tel:88003020387">8&nbsp;(800)&nbsp;302-03-87</a> </p>
							<p> Время работы с 9:00 до 21:00
								<br> в выходные с 11:00 до 20:00 </p>
						</div>
						<div class="left-nav__social-links">
							<a target="_blank" href="https://www.instagram.com/riche.cosmetics/" title="Наш канал в Instagram">
								<svg class="left-nav__social-icon">
									<use xlink:href="#instagram"></use>
								</svg>
							</a>
							<a target="_blank" href="https://www.youtube.com/channel/UCvfaWiXugst22LddZMeiyDA" title="Наш канал в YouTube">
								<svg class="left-nav__social-icon">
									<use xlink:href="#youtube"></use>
								</svg>
							</a>
							<a target="_blank" href="https://www.tiktok.com/@riche.me?source=h5_t" title="Наш канал на Тиктоке">
								<svg class="left-nav__social-icon">
									<use xlink:href="#tiktok"></use>
								</svg>
							</a>
						</div>
					</div>
					<div class="news-mailing">
						<div class="news-mailing__title">Новостная рассылка</div>
						<form class="news-mailing__form" action="/send.php" method="POST">
							<input class="news-mailing__email" type="email" name="user_email" placeholder="Email" value="" required="">
							<input type="submit" value="ok" style="display:none">
							<div class="consent__wrapper">
								<input class="consent__checkbox" type="checkbox" id="consent" name="consent">
								<label class="consent__label" for="consent">Согласие на обработку персональных данных</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="header__logo" id="header-site-name" itemscope="" itemtype="http://schema.org/Organization">
			<meta itemprop="name" content="RICHE">
			<meta itemprop="telephone" content="+78003020387">
			<meta itemprop="url" content="riche.me">
			<meta itemprop="address" content="4280003, Чувашская Республика, г. Чебоксары, ул. Б.С. Маркова, д.8, к.3, кв.88">
			<a class="homepage" href="/" id="site-name" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
				<picture>
					<source srcset="https://riche.me/local/templates/riche/logotypeBigger.svg"> <img data-cfsrc="https://riche.me//res/spacer.gif" alt="RICHE COSMETICS" src="https://riche.me/res/spacer.gif"> </picture>
				<meta itemprop="width" content="160">
				<meta itemprop="height" content="160"> </a>
		</div>
		<aside id="header-user-bar">
			<noindex>
				<div id="header-cart" class="empty">
					<a id="header-cart-link" href="/checkout/" class="pulse" title=""> <span id="header-cart-indicator"></span> </a>
				</div>
			</noindex>
		</aside>
	</div>
</header>
